::ng-deep .p-card-body {
  background-color: #212121;
  border-radius: 3px !important;
}

::ng-deep .shadow-4 {
  box-shadow:
  0px 1px 10px rgba(0, 34, 255, 0.12),
  0px 4px 5px rgba(14, 90, 255, 0.14),
  0px 2px 4px -1px rgba(1, 37, 126, 0.2) !important;
}
