*{
  font-family: Arial, Helvetica, sans-serif
}

/*.body {
  background: linear-gradient(-45deg, #0c9aff, #1c7aff, #3488ff, #04b8ff);
  background-size: cover 400% 400%;
  animation: gradient 5s ease infinite;
  text-align: center;
  height: 100vh;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

.grid {
  position: relative;
  height: 100vmin;
}

.background {
  background-image: url('../../../assets/backg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade para mudar a escuridão */
}

@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    height: 200vmax;
  }
}

.p-button, p-component{
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;


  width: 100%;
  height: 40px;
  background: #2965ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}
.p-button:hover {
  background: #023191;
}



button {
	outline: none !important;
	border: none;
	background: transparent;
}
::ng-deep .p-card-body {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.8s ease-in-out forwards;
}

::ng-deep .p-card-body:hover {
  box-shadow: 0 20px 16px 10px #0000005f;
  transform: translateY(-5px);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.p-element::before {

    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }


  .p-inputtext:hover {
    border: #0464ffcb 1px solid

  }

  .p-inputtext::selection {

    border-color: #0884e3;
    outline-style: none;
  }

  .p-inputtext:focus {
    border: #0e96ff 1px solid;
    border-color: #0c96ff;
  }

  form {
    position: relative;
    z-index: 1;
  }

